.info {
  border-radius: 15px;
  color: white;
  padding: 0 0.7rem 0.7rem 0.7rem;
}

.info > h3 {
  text-align: center;
  letter-spacing: 0.2rem;
  padding-bottom: 0.5rem;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  background-color: white;
  border-radius: 15px 15px 0px 15px;
}

th,
td {
  padding: 0.4rem;
  border: 1px solid #232323;
}

th {
  background-color: #2c6e00;
  font-weight: 500;
}

td {
  color: black;
}

.column1 {
  text-align: center;
  background-color: #8bd659;
  color: black;
}
/* Decorating the top of the table*/

table th:nth-child(1) {
  border-top-left-radius: 0.5rem;
  border-width: 0;
  border-right: 1px solid #232323;
  border-bottom: 3px solid #232323;
}

table th:nth-child(2) {
  border-width: 0;
  border-right: 1px solid #232323;
  border-bottom: 3px solid #232323;
}

table th:nth-child(3) {
  border-top-right-radius: 0.5rem;
  border-width: 0;
  border-bottom: 3px solid #232323;
}
/* End Decorating the top of the table*/
