.location {
	display: flex;
	padding: 1rem;
	box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
	background-color: #232323;
	color: white;
	margin-bottom: 0.75rem;
	border-radius: 15px;
	font-weight: 100;
}

.hidden {
	display: none;
}

.red {
	background-color: red;
}

.location__left {
	display: flex;
	flex-direction: column;
	margin-right: 1rem;
}

.location__left>img {
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
	object-fit: cover;
	object-position: 100% 0;
	width: 150px;
	height: 175px;
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.locationButton {
	background-color: var(--primary);
	border: none;

	width: fit-content;
	align-self: center;
	font-size: 1rem;

	color: white;
	padding: 0.6rem 0.8rem;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: 0.2s;
	border-radius: 0.2rem;
}

.locationButton:hover {
	background-color: var(--secondary);
}

.location__left>button:hover {
	cursor: pointer;
	color: black;
	background-color: white;
}

@media screen and (min-width: 1200px) {
	.location {
		margin: 0rem 0.5rem 1rem 0.5rem;
	}
}