.profile {
  padding: 1rem 0.5rem 1rem 0.5rem;
  background-color: #161616;
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 15px;
  color: white;
}
.visited {
  color: gray;
}

.hikeInformation {
  display: flex;
}

.hikeInformation > div {
  margin-right: 1rem;
}

.numOfLocations {
  font-size: 1rem;
  font-weight: 700;
}

.profile > .pfp {
  border-radius: 100%;
  margin-right: 0.5rem;
  width: 100px;
  height: 100px;
}

.bio {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.information > button {
  font-size: 0.9rem;
  background-color: #fefae0;
  border: 1px rgb(184, 184, 184) solid;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
}

.information > button:hover {
  cursor: pointer;
}

.information > h3 {
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
}
